@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.logo img {
    width: 100px;
}

.right {
    width: 72vw;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    width: 23vw;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    overflow: hidden;
}

.footer a {
    color: gray;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.cardContainer {
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh;
}

.card{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 175px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons > *{
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(137, 137, 137);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: .2s;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
}

.loginbtn:hover {
    scale: 1.05;
}

.playbar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1fdf64;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
}

.songbuttons {
    height: 30px;
    display: flex;
    gap: 16px;
}

.songbuttons img:hover {
    scale: 0.9;
}

.songList {
    height: 590px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
}

.songList ul {
    padding: 0 10px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: px;
    cursor: pointer;
    padding: 12px 0;
    background-color: #252525;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;
}

li .info {
    width: 180px;
}

.playnow {
    display: flex;
    align-items: center;
    right: 5px;
}

.playnow img {
    width: 28px;
    text-align: end;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    text-align: end;
}

.seekbar {
    height: 4px;
    width: 95%;
    background-color: black;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0 10px;
    margin-bottom: 10px; 
    position: relative;
    cursor: pointer;
}

.circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    border: 5px solid #252525;
    position: absolute;
    bottom: -6.5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.songdetails {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    color: black;
}