@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
  overflow-y: auto;
}

.logo img {
  width: 100px;
}

.right {
  width: 72vw;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 23px 14px;
  padding-top: 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}

.heading img {
  width: 30px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  gap: 10px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: gray;
}

.right {
  margin: 16px 0;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotifyPlaylists {
  padding: 16px;
}

.cardContainer {
  margin: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 70vh;
}

.card {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  position: absolute;
  top: 175px;
  right: 17px;
  opacity: 0;
  transition: all 1s ease-out;
}

.buttons > * {
  margin: 0 12px;
}

.signupbtn {
  background-color: rgb(34, 34, 34);
  color: rgb(137, 137, 137);
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.signupbtn:hover {
  font-size: 17px;
  color: white;
}

.loginbtn {
  background-color: white;
  border-radius: 21px;
  color: black;
  font-weight: bold;
  padding: 10px;
  width: 79px;
  cursor: pointer;
}

.loginbtn:hover {
  scale: 1.05;
}

.playbar {
  position: fixed;
  bottom: 0;
  background-color: #1fdf64;
  width: 72vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  gap: 10px;
}

.songbuttons {
  height: 30px;
  display: flex;
  gap: 16px;
}

.songbuttons img:hover {
  scale: 0.9;
}

.songList {
  height: 560px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 20px;
}

.hamburger {
  display: none;
}

.songList ul {
  padding: 0 10px;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 12px 0;
  background-color: #252525;
  margin: 10px 0;
  padding: 5px;
  border-radius: 10px;
}

li .info {
  width: 130px;
  font-size: 12px;
}

.info div {
    word-break: break-all;
}

.playnow {
  display: flex;
  align-items: center;
  right: 5px;
}

.playnow img {
  width: 28px;
  text-align: end;
}

.playnow span {
  font-size: 15px;
  width: 64px;
  text-align: end;
}

.seekbar {
  height: 4px;
  width: 95%;
  background-color: black;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: white;
  border: 5px solid black;
  position: absolute;
  bottom: -6.5px;
  left: 0%;
  transition: left 0.5s;
}

.songbuttons img {
  cursor: pointer;
}

.songdetails {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.songinfo, .songtime {
    width: 300px;
    text-align: center;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  display: none;
}

.close img {
  width: 40px;
}

.volume {
    width: 230px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #222;
  border-radius: 3px;
  outline: none;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #333;
  height: 6px;
  border-radius: 3px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: white; 
  border: 4px solid black; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 0 0 5px #00f260;
}


@media (max-width: 1400px) {
  .left {
    position: absolute;
    left: -100%;
    transition: all 0.5s;
    z-index: 10;
    width: 370px;
    background-color: #252525;
    box-sizing: border-box;
    height: 100vh;
  }
  .right {
    height: 97vh;
    width: 98vw;
    margin: 10px auto;
  }
  .arrows {
    display: none;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    width: 40px;
  }
  .seekbar {
    width: 80vw;
  }
  .close {
    display: block;
    cursor: pointer;
  }
  .playbar {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #1fdf64;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .right {
    height: 100vh;
    width: 100vw;
    margin: 0 0 0 0;
  }
  .card {
    width: 44vw;
    font-size: 10px;
  }
  .cardContainer {
    margin: 0;
    margin-top: 10px;
  }
  .playbar {
    position: fixed;
    bottom: 10px;
    left: 0;
    background-color: #1fdf64;
    width: 92%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 10px;
    border-radius: 50px;
  }

  .songbuttons{
    background-color: white;
  }


  .circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ccc;
  border: 3px solid black;
  position: absolute;
  bottom: -6.5px;
  left: 0%;
  transition: left 0.5s;
}
}
